<html>
<title>ansible</title>

<!--
http://stackoverflow.com/questions/22223270/vertically-and-horizontally-center-a-div-with-css
http://css-tricks.com/centering-in-the-unknown/
http://jsfiddle.net/6PaXB/
-->

<style>.block {text-align: center;margin-bottom:10px;}.block:before {content: '';display: inline-block;height: 100%;vertical-align: middle;margin-right: -0.25em;}.centered {display: inline-block;vertical-align: middle;width: 300px;}</style>

<body>
<div class="block" style="height: 99%;">
    <div class="centered">
        {% raw %}
        <h1>{{key_or_default "nginx/web_title" "consul-template-default"}}</h1>
        {% endraw %}
        <p>Served by {{ ansible_hostname }}.</p>
    </div>
</div>
</body>
</html>
