description "Join the consul cluster"

start on started consul
stop on stopped consul

task

script
  {% if consul_cluster_addr %}
  CONSUL_JOIN={{ consul_cluster_addr }}
  {% elif consul_join_ip %}
  CONSUL_JOIN={{ consul_join_ip }}
  {% endif %}
  BIND=`ifconfig eth0 | grep "inet addr" | awk '{ print substr($2,6) }'`
  # Keep trying to join until it succeeds
  set +e
  while :; do
    curl http://${CONSUL_JOIN}:8500/v1/agent/join/${BIND} >>/var/log/consul-join.log 2>&1
    curl http://${CONSUL_JOIN}:8500/v1/status/peers | grep $BIND
    [ $? -eq 0 ] && break
    sleep 5
  done

  logger -t "consul-join" "Join success!"
end script
